*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a,
a:visited,
a:link {
  color: unset;
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
}

address {
  font-style: normal;
}

