*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: 'Public Sans', sans-serif;
  color: #9597A5;
}

a,
a:visited,
a:link {
  color: unset;
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
}

address {
  font-style: normal;
}

button {
  background: none;
  border: none;
}

.request-invite-btn {
  background: linear-gradient(120deg, #33D38E, #2AB6D9);
  color: #ffffff;
  padding: 1em 2em;
  border-radius: 1000px;
  margin: 0 auto;
  display: block;
  font-size: 1.4rem;
  font-family: 'Public Sans', sans-serif;
  font-weight: 700;
  letter-spacing: .03em;
}

.primary-header {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
}

#menu-button > div {
  width: 24px;
  height: 1px;
  background-color: #2D314D;
  margin-bottom: 4px;
  transform: rotate(0deg) translateY(0px);
  opacity: 1;
  transition: .2s linear;
}

#menu-button.close-position > div:nth-of-type(1) {
  transform: rotate(45deg) translateY(-5px);
  transform-origin: left;
}

#menu-button.close-position > div:nth-of-type(2) {
  opacity: 0;
}

#menu-button.close-position > div:nth-of-type(3) {
  transform: rotate(-45deg) translateY(5px);
  transform-origin: left;
}

#nav-container.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity .5s ease-in-out; 
}

img.hidden {
  visibility: hidden;
}

.primary-header nav {
  background-color: #FFFFFF;
  color: #2D314D;
  font-size: 1.8rem;
  width: 90%;
  text-align: center;
  line-height: 2.5em;
  /* padding: 5% 0; */
  margin: 7% 5% 0%;
  border-radius: 3px;
}

#nav-container {
  position: absolute;
  background: linear-gradient(to bottom, #2D314D, #2D314D00);
  top: 100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  visibility: visible;
  opacity: 1;
  transition: visibility .5s, opacity .5s ease-in-out; 
}

.primary-header .request-invite-btn {
  display: none;
}

.phone-mockup-background {
  background-image: url(./images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left 0% bottom 90%;
  width: 100%;
}

.phone-mockup {
  width: 90%;
  aspect-ratio: 4 / 4.25;
  object-fit: cover;
  object-position: bottom;
  margin: 0 auto;
}

.section-one {
  padding-bottom: 25%;
  background-color: #FAFAFA;
}

.section-one h1 {
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  color: #2D314D;
}

.section-one p {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 5% 5% 10%; 
}

.section-two,
.section-three {
  padding: 20% 5%;
}

.section-two {
  background-color: #F4F5F7;
}

.section-two h2,
.section-two h3,
.section-three h2,
.section-three h3 {
  color: #2D314D;
  text-align: center;
  font-weight: 500;
}

.section-two h2,
.section-three h2 {
  font-size: 3.2rem;
}

.section-two h3 {
  font-size: 2rem;
  margin-top: 1.5em; 
}

.section-two p {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 1em 0 2em;
}

.section-two > p {
  margin-bottom: 4em;
}

.section-two img {
  width: 4.5em;
  margin: 0 auto;
}

.section-three {
  background-color: #FAFAFA;
}

.section-three h2 {
  margin-bottom: 10%;
}

.section-three article {
  padding-bottom: 10%;
  background-color: #FFFFFF;
  margin-top: 5%;
  border-radius: 5px;
  overflow: hidden;
}

.section-three article > img {
  width: 100%;
  aspect-ratio: 3.3 / 2;
  object-fit: cover;
}

.section-three article address,
.section-three article h3,
.section-three article p {
  width: 83%;
  margin: 0 auto;
}

.section-three article address {
  font-size: 1rem;
  margin-top: 8%;
}

.section-three article h3 {
  font-size: 1.6rem;
  text-align: left;
  margin-top: 3%;
}

.section-three article > p {
  font-size: 1.3rem;
  margin-top: 3%;
  line-height: 1.5em;
}

footer {
  background-color: #2D314D;
  text-align: center;
  padding: 10% 0;
}

footer .logo {
  display: block;
}

footer .social-media-links {
  margin-top: 8%;
}

footer .social-media-links svg {
  width: 2em;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: inline-block;
  margin-left: 3%;
  fill: #FFFFFF;
}

footer > .social-media-links > a:first-of-type > img {
  margin-left: 0;
}

footer > ul {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5em;
  margin: 8% 0;
}

footer small {
  display: block;
  font-size: 1.5rem;
  margin-top: 7%;
}

.attribution { 
  font-size: 11px;
  display: block; 
  text-align: center;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media only screen and (min-width: 900px) {
  p {
    max-width: 80ch;
  }
  
  .request-invite-btn {
    margin: 0;
  }
  
  .primary-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 10%;
  }
  
  .primary-header .request-invite-btn {
    display: block;
  }

  #nav-container.hidden {
    visibility: visible;
    opacity: 1;
  }

  #menu-button {
    display: none;
  }

  .primary-header nav {
    width: unset;
    text-align: unset;
    line-height: unset;
    margin: 0;
  }

  .primary-header nav ul {
    display: flex;
  }

  .primary-header nav ul li {
    margin-right: 1em;
  }

  #nav-container {
    position: unset;
    background: none;
    width: unset;
    height: unset;
  }

  .section-one {
    padding: 0 0 10% 0;
  }

  .section-one h1,
  .section-one p,
  .section-one .request-invite-btn {
    margin-left: 10%;
    text-align: left;
  }

  .section-one h1 {
    padding-top: 20%;
    font-size: 5.6rem;
  }

  .section-one p {
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 1.8rem;
  }

  .phone-mockup-background {
    background-image: url(./images/bg-intro-desktop.svg);
    background-size: 130%;
    background-position: left bottom;
    width: 59%;
    max-width: 850px;
    float: right;
    overflow-x: clip; 
  }

  .phone-mockup {
    position: relative;
    left: 150px;
    top: 80px;
  }

  .section-two h2,
  .section-two h3,
  .section-two p,
  .section-three h2,
  .section-three h3 {
    text-align: left;
  }

  .section-two,
  .section-three {
    padding: 7% 10%;
  }

  .section-two h2,
  .section-three h2 {
    font-size: 4rem;
  }

  .section-two h3 {
    font-size: 2.4rem;
  }

  .section-two p {
    font-size: 1.6rem;
  }

  .section-two > p {
    font-size: 1.8rem;
  }

  .section-two img {
    margin: 0;
  }

  .flex-container {
    display: flex;
    gap: 3%;
  }

  .section-three h2 {
    margin-bottom: 0%;
  }

  .section-three article > img {
    aspect-ratio: 2.5 / 2;
  }

  .section-three article > address {
    font-size: 1rem;
  }

  .section-three article {
    padding-bottom: 2%;
  }

  footer {
    padding: 5% 10%;
    text-align: left;
    display: grid;
    grid-template-columns: 2.5fr 2fr 3fr;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1.5em;
  }

  footer > a {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
  }

  footer > .social-media-links {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: center;
    margin: 0;
  }

  footer > ul {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    column-gap: 1em;
  }

  footer > button {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: right;
    align-self: center;
  }

  footer > small {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: right;
  }

}

@media (hover: hover) and (pointer: fine) and (min-width: 500px) {
  .primary-header nav li {
    position: relative;
    width: min-content;
    margin: 0 auto;
  }
  
  .primary-header nav li:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background: linear-gradient(to right, #33D35E, #2AB6D9);
  }

  .request-invite-btn:hover {
    cursor: pointer;
    opacity: .7;
  }

  .section-three a:hover,
  footer a:hover {
    color: #30C88F;
  }

  footer .social-media-links svg:hover {
    fill: #30C88F;
  }
}

@media (hover: hover) and (pointer: fine) and (min-width: 900px) {
  .primary-header nav li:hover::after {
    bottom: -1.55em;
  }
}